<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="!(loc.ProductName)" Language="1041" Version="$(var.ProductVersion)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="{3C7B19C3-5A2D-4C4E-8B71-88D8F8DE18B2}" Scope="perUser">
    <Icon Id="AppIconIco" SourceFile="$(var.SourceDir)\\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIconIco" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowSameVersionUpgrades="yes" />

    <!-- Exit dialog checkbox to launch the app -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchAppText)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="!(loc.FeatureMainTitle)" Level="1">
      <ComponentRef Id="MainExe" />
      <ComponentRef Id="UpdaterExe" />
      <ComponentRef Id="AppIconFile" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>

    <!-- Custom action to launch the application if checkbox selected -->
    <CustomAction Id="LaunchApplication" Directory="INSTALLFOLDER" ExeCommand="&quot;[INSTALLFOLDER]updater.exe&quot; -target &quot;[INSTALLFOLDER]MODREPO.exe&quot;" Return="asyncNoWait" Impersonate="yes" />

    <UI>
      <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <UIRef Id="WixUI_Common" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtfPath)" />

    <!-- Installer images (uncomment and provide BMP files in the same directory as this file) -->
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)\\launcher_dialog.png" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)\\launcher_banner.png" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="!(loc.InstallFolder)">
        <Component Id="MainExe" Guid="{B2D5A99B-0D56-40C8-94B3-8FB3A8A6D7E4}">
          <File Id="ModRepoExe" Source="$(var.SourceDir)\\MODREPO.exe" KeyPath="yes" />
        </Component>
        <Component Id="UpdaterExe" Guid="{D6B8F77E-976E-4E7B-A48E-506B8F12C9A1}">
          <File Id="UpdaterExeFile" Source="$(var.SourceDir)\\updater.exe" KeyPath="yes" />
        </Component>
        <Component Id="AppIconFile" Guid="{C7A2E991-8D9E-4F90-A821-4B9F1E2A3C4D}">
          <File Id="AppIconIco" Source="$(var.SourceDir)\\app.ico" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="!(loc.InstallFolder)">
        <Component Id="StartMenuShortcut" Guid="{E2EF6B58-4FD5-46E0-9C4A-C0B1E2C4C2B1}">
          <Shortcut Id="StartMenuShortcut" Name="!(loc.ShortcutName)" Target="[INSTALLFOLDER]updater.exe" Arguments="-target &quot;[INSTALLFOLDER]MODREPO.exe&quot;" WorkingDirectory="INSTALLFOLDER">
            <ShortcutProperty Key="System.AppUserModel.ID" Value="com.github.ikafly.modrepo" />
          </Shortcut>
          <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\\ikafly144\\MODREPO" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <SetProperty Id="SetShortcutIcon" Value="&quot;powershell.exe&quot; -NoProfile -NonInteractive -ExecutionPolicy Bypass -Command &quot;$$w=New-Object -ComObject WScript.Shell; $$s=$$w.CreateShortcut('[ProgramMenuDir]!(loc.ShortcutName).lnk'); $$s.IconLocation='[INSTALLFOLDER]app.ico'; $$s.Save()&quot;" Before="SetShortcutIcon" Sequence="execute" />

    <CustomAction Id="SetShortcutIcon" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action="SetShortcutIcon" After="CreateShortcuts" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Package>
</Wix>
